.datacenter {
  font-size: .8rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  svg:first-child {
    margin-right: 0.5rem;
  }
  div {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
  }
  &.large {
    margin-top: 1rem;
  }
}

