@import '../../../config/theme.scss';

.top-line {
  display: flex;
  align-items: center;
  button:first-child {
    margin-right: 1rem;
  }
  margin-bottom: 2rem;
}

.title-wrapper {
  line-height: 0.9,
}

.detail-title {
  font-size: 1rem;
  font-weight: 600;
  color: $sand-light;
  font-family: $family-secondary;
}

.detail-subtitle {
  font-size: 0.65rem;
  display: inline-block;
}

.details-wrapper {
  max-height: 230px;
  overflow: auto;
}

.visits-wrapper {
  display: flex;
  font-size: 0.7rem;
  align-items: flex-start;
  margin-top: 1rem;
  img:first-child {
    margin-left: 4px;
    margin-right: calc(0.5rem + 4px);
  }
  & .highlight-number{
    font-size: 1rem;
    font-weight: 600;
  }
  & .highlight-number-2{
    font-size: 0.7rem;
    font-weight: 600;
  }
  ul {
    list-style-type: circle;
    list-style-position: inside;
  }
}
