@import 'config/theme.scss';

.wrapper {
  position: relative;
}

.column-wrapper {
  width: 100%;
}

.usagedata-wrapper {
  display: flex;
  border-radius: 25px;
  &:hover, &:focus {
    cursor: pointer;
    background-color: $hover-background;
  }
  &.selected {
    background-color: $hover-background;
  }
}

.avatar {
  min-height: 50px;
  min-width: 50px;
  border-radius: 25px;
  background: $avatar-background;
  border: 2px solid $sand-light;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  > figure.avatar-image {
    width: 25px;
    height: 25px;
  }
}

.category-label {
  font-size: 0.75rem;
  line-height: 1.3rem;
}

.category-number {
  font-size: 1rem;
  font-weight: 600;
  color: $sand-light;
  font-family: $family-secondary;
}

.extended-wrapper {
  position: absolute;
  top: 74px;
  width: 100%;
  z-index: 1;
  & > .content-wrapper {
    background-color: $overlay-background;
    border-radius: 25px;
    margin: 0 12px;
    padding: 1rem 4rem 1rem 1rem;
    & > .btn-close {
      right: 1.8rem;
      top: 1rem;
    }
    & > div {
      font-size: 0.9rem;
      font-weight: 600;
      align-items: center;
      display: flex;
      &.consumptionType-item {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
    
  }
}