//  icons
 @font-face {
  font-family: 'icomoon';
  src:  url('../assets/icons/icomoon.eot?l2lsax');
  src:  url('../assets/icons/icomoon.eot?l2lsax#iefix') format('embedded-opentype'),
    url('../assets/icons/icomoon.ttf?l2lsax') format('truetype'),
    url('../assets/icons/icomoon.woff?l2lsax') format('woff'),
    url('../assets/icons/icomoon.svg?l2lsax#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e94e";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-stopwatch:before {
  content: "\e952";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-hour-glass:before {
  content: "\e979";
}
.icon-search:before {
  content: "\e986";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-pie-chart:before {
  content: "\e99a";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-power-cord:before {
  content: "\e9b7";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-play2:before {
  content: "\ea15";
}
.icon-pause:before {
  content: "\ea16";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}

 
 
 // Set your brand colors
 $purple: #8A4D76;
 $pink: #FA7C91;
 $brown: #757763;
 $beige-light: #D0D1CD;
 $beige-lighter: #EFF0EB;

 $green-dark: #283618;
 $green-light: #606C38;
 $cream: #FEFAE0;
 $sand-light: #DDA15E;
 $sand-dark: #BC6C25;
 
// Update Bulma's global variables
 $family-serif: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
 $family-sans-serif: "MS Sans Serif", "Geneva", sans-serif;
 $family-primary: $family-sans-serif;
 $family-secondary: $family-serif;

 $grey-dark: #202124;
 $grey-light: $beige-light;
 $primary: $green-light;
 $link: $sand-light;
 $background: $grey-dark;
 $text: $beige-light;
 $tabs-link-hover-color: $sand-light;
 $tabs-link-focus-color: $sand-light;
 $button-hover-color: $sand-light;
 $button-focus-color: $sand-light;
 $avatar-background: #363636;
 
 // Update some of Bulma's component variables
 $control-border-width: 2px;
 $input-background-color: $beige-lighter;
 $input-border-color: transparent;
 $input-shadow: none;

 $tooltip-background: #161616F2;
 $tooltip-border: #0000001A;

 $chip-hover-background: #00000033;

 $overlay-background: #161616F2;
 $overlay-border: #0000001A;
 
 // Import the rest of Bulma
 @import 'bulma/bulma.sass'