.options-wrapper {
  height: fit-content;
  width: fit-content;
  position: absolute;
  padding: 1rem;
  right: 1.5rem;
  z-index: 2;
}

.btn-close {
  position: absolute;
  right: 1.5rem;
}

.btn-close {
  right: .5rem;
  top: .5rem;
}

.button-icon {
  margin-right: 0.5rem;
}

.options-credits-wrapper {
  font-size: 0.7rem;
  position: absolute;
  right: 1.5rem;
  display: flex;
  align-items: flex-end;
  button {
    margin-left: 1rem;
  }
}