@import 'config/theme.scss';

.options-wrapper > .field .label {
  color: $grey-dark;
}

.field .control .icon.has-text-green-light {
  color: $green-light;
}

.options-wrapper {
  height: fit-content;
  width: fit-content;
  position: absolute;
  padding: 1rem;
  right: 1.5rem;
  z-index: 5;
}

.btn-close {
  position: absolute;
  right: 1.5rem;
}

.btn-close {
  right: .5rem;
  top: .5rem;
}

.button-icon {
  margin-right: 0.5rem;
}

.buttons {
  margin-bottom: 0 !important;
}

.options-credits-wrapper {
  font-size: 0.7rem;
  position: absolute;
  right: 1.5rem;
  display: flex;
  align-items: flex-end;
  button {
    margin-left: 1rem;
  }
  a:hover,:focus {
    color: #FEFAE0,
  }
}

.version-number {
  font-size: 0.6rem;
  text-align: end;
  color: $green-light;
}