@import 'config/theme.scss';

html,body {
  background: $background;
  width: 600px;
 }
 
.main {
  padding: 1.5rem;
  height: 450px;
  max-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

a {
  color: $sand-light;
  text-decoration: none;
  &:hover, &:focus {
    color: $cream;
  }
}